
/* root table width */
#root {
    --width-table: 700px;
}

.unprocessed-audio {
    /* 1x2 table*/
    display: table;
    /* center */
    margin: 0 auto;
    width: 100%;
    border: none;
}


.th {
  border: 1px solid black;
  text-align: center;
}
.table:hover { background-color: white; }

.table{
    pointer-events: none;
}
.table-first-col{
    width: 70%;
    overflow: hidden;
}

.processed-audio {
    /* 1X2 table*/
    display: table;
    /* center */
    margin: 0 auto;
    width: 90%;
}

.button {
    background-color: #436397;
    border: none;
    color: white;
    padding: 7px;
    text-align: match-parent;
    text-decoration: none;
    display: display-outside;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10%;
  }
.collapsible .content {
    padding: 1px;
    background-color: white;
}
.collapsible .header {
    background-color: white;
    padding: 1px;
    width: 100%;
}
