
/* root table width */
#root {
    --width-table: 700px;
}

.original-audio {
    /* 1x2 table*/
    display: table;
    /* center */
    margin: 0 auto;
    width: 90%;
}
.original-audio > div {
    /* 1x2 table cell*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 0px solid #ccc;
}

.processed-audio {
    /* 1X2 table*/
    display: table;
    /* center */
    margin: 0 auto;
    width: 90%;
}
.processed-audio > div {
    /* 1x2 table cell*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    /* margin*/
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
}
.processed-audio-list {
    /* a flex table nx1 */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

}
.processed-clip {
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    height: 100%;
}
.processed-clip-div {
    /* 1x2 table */
    display: table;
    width: 100%;
}
.processed-clip-div > div {
    /* 1x2 table cell */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

.button {
    background-color: #436397;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
  }
.collapsible .content {
    padding: 1px;
    background-color: white;
}
.collapsible .header {
    background-color: #dddddd;
    padding: 1px;
    cursor: pointer;
    width: 80%;
}